<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="Warehouse" value="https://souleymen.pkgs.visualstudio.com/Warehouse/_packaging/Warehouse/nuget/v3/index.json" />
	</packageSources>
    <packageSourceCredentials>
        <Warehouse>
            <add key="Username" value="NugetFeed" />
            <add key="ClearTextPassword" value="bl4i2byls2zsbyggdn3rjs4ay64hy2xns7t652qpgizz2otklqqq" />
        </Warehouse>
    </packageSourceCredentials>
</configuration>